/* NAVBAR */
nav {
  border-bottom: #2B4BCC 3px solid;
}
/* BODY BACKGROUND COLOR */
body {
  background: #222222;
  line-height: 1.2;
}
/* LOGO */
.navbar-brand span {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 30px;
    background-color: #2B4BCC;
    padding: 5px 10px;
    border-radius: 8px;
}
/* TITLE ON HOMEPAGE */
.jumbotron-heading {
  font-family: 'Poppins', sans-serif;
  background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 125px;

    color: rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;

    -webkit-animation-name: shine;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes shine
{
    0%
    {
        background-position: top left;
    }
    100%
    {
        background-position: top right;
    }
}

/* NEWS BORDER */
.news {
  border: #2B4BCC 4px solid;
}
/* ALL BUTTONS */
.btn {
  background-color: #2B4BCC;
}
/* ALL BUTTONS */
.btn:hover {
  background-color: #2B4BCC;
}
/* PARAGRAPH DESCRIPTION ON HOMEPAGE */
.lead {
  font-family: 'Arvo', cursive;
}

/* NEwS BLOG */
main {
  font-family: 'Poppins', sans-serif;
}
/* TEXT UNDER EMAIL ADDRESS ON RESERVATION PAGE */
.text-muted {
    color: #626c75!important;
}
/* RESERVATION FORM */
.form-check-label {
  margin-bottom: 0;
  padding-right: 35px;
  padding-bottom: 35px;
}
/* BORDER ON MOVIE LISTS IMAGES */
.card {
  border: none;
}
/* DESCRIPTION UNDER MOVIE LISTS */
.card-text {
  background: #222222;
  color: white;
  font-family: 'Arvo', serif;
  font-size: 20px;
}
/* DATES AND TIMES ON MOVIE LISTS */
.card-header {
  background: #222222;
  color: #6978dd;
  font-family: sans-serif;
  font-size: 20px;
}
/* DATES, TIMES AND DESCRIPTION UNDER MOVIE LISTS */
.card-body {
  background: #222222;
}
/* ADDRESS BESIDE GOOGLE MAPS */
.myaddress {
  color: #D4CDC3;
}
/* ADDRESS BESIDE GOOGLE MAPS */
#contact{
	color:#f4f4f4;
	padding-bottom:40px;
}
/* INFORMATION ICONS */
.fa-globe, .fa-phone,
.fa-map-marker{
color: #2B4BCC;
}
/* 3 top images on news page */
.newblog {
    height: 235px;
}

#post-1 {
  width: 552px;
height: 400px;
}
#post-2 {
  width: 552px;
height: 600px;
}

#post-3 {
  width: 552px;
height: 450px;
}

#signup {
height: 640px;
}

.form-check-label{
display: block;
padding-bottom: 15px;
}

#seat {
  height: 640px;
  }

footer {
  padding-top: 20px;
  margin-top: 30px;
  border-top: #2B4BCC 3px solid;
}
/* DISABLED LOGO FOR SMALLER SCREENS */
@media screen and (max-width: 600px) {
.navbar-brand span {
    display: none;
  }
}
/* ADDRESS UNDER GOOGLE MAPS */
@media screen and (max-width: 600px) {
.myaddress {
  position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 25px;
    text-align: justify;
  }
}
/* ADDRESS UNDER GOOGLE MAPS AND ICONS */
@media screen and (max-width: 1068px) {
#contact, #call {
  padding-right: 55px;
  font-size: 20px;
  text-align: justify;
 }
}
/* SOCAIL LINKS IN FOOTER */
@media screen and (max-width: 999px) {
  .page-footer {
  text-align: center;
  }
}

@media screen and (max-width: 578px) {
  #seat {
  display: none;
  }
}
