nav {
  border-bottom: #E55812 3px solid;
  opacity:0.8;
}

body {
background: #170014;
}

.navbar-brand span {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 30px;
    background-color: #E55812;
    padding: 5px 10px;
    border-radius: 8px;
}

.jumbotron-heading {
  font-family: 'Poppins', sans-serif;;
  color: #E55812;
}

.news {
  border: #E55812 4px solid;
}

.btn {
  background-color: #E55812;
}

.btn:hover {
  background-color: #E55812;
  font-size: 150%;
}

.lead {
  font-family: 'Arvo', cursive;
  font-weight: 400;
  font-size: 20px;
}

.text-mute {
  font-size: 30px;
  margin-bottom: 40px;
}

.form-check-label {
  margin-bottom: 0;
  padding-right: 35px;
  padding-bottom: 35px;
}

.card {
  border: none;
}

.card-text {
  background: #170014;
  color: white;
  font-family: 'Arvo', serif;
  font-size: 20px;
}

.card-header {
  background: #170014;
  color: #E55812;
  font-family: sans-serif;
  font-size: 20px;
}

.card-body {
  border: ;
  background: #170014;
}

.myaddress {
  color: #D4CDC3;
}

#contact{
	color:#f4f4f4;
	padding-bottom:40px;
}

textarea.form-control{
    height:100px;
}

.fa-globe{
color: #E55812;
}

.fa-phone{
color: #E55812;
}

.fa-map-marker {
color: #E55812;
}


#news1 {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }

footer {
  padding-top: 20px;
  margin-top: 30px;
  border-top: #E55812 3px solid;
}

@media screen and (max-width: 600px) {
.navbar-brand span {
    display: none;
  }
}
